<!DOCTYPE html>
<html>
    <head>
      <title>Issueviewer</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row-fluid">
            <%= yield %>
        </div>
    </div>

        <%= javascript_include_tag "application" %>
        <%= yield :javascript %>
    </body>
</html>
